html {
    background-color: black;
}

body {
    color: whitesmoke;
    font-family: 'Merienda';
}

h1,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    width: 300px;
    height: 400px;
}

img.home {
    height: 300px;
    width: 300px;
}

img.cars {
    height: 250px;
    width: 350px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border: white;
    border-style: solid;
}