html {
    background-color: rgb(26, 23, 23);
}

body {
    color: whitesmoke;
    font-family: 'Helvetica';
    margin: 0px;
    margin-bottom: 0px;
}

h1,
h3 {
    text-align: center;
}

img {
    width: 300px;
    height: 400px;
}

img.home {
    height: 300px;
    width: 300px;
}

img.cars {
    height: 300px;
    width: 350px;
}

nav {
    background-color: maroon;
    border-top: 10px solid dodgerblue;
    border-bottom: 10px solid dodgerblue;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.currentPage {
    background-color: dodgerblue;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
}

.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: square;
}

p {
    text-align: center;
    padding: 20px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-right: 70%;
}

footer {
    background-color: maroon;
    border-top: 10px solid dodgerblue;
    border-bottom: 10px solid dodgerblue;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

.face {
    height: 30px;
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

